#map {
  text-align: center;
  width: 100%;
  min-height: 800px;
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  background-color: #515278;
}

/* NavBar  */

.navbar-brand {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
}

.navbar .nav-link {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: none;
}

.navbar {
    background-color: #1c1c3b;
}

/* Map */

.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}

.custom-map-control-button:hover {
  background: #ebebeb;
}

.info-window {
    height: auto;
    width: auto;
    font-family: Lato, sans-serif;
}


/* Booking Form */

.booking-detail {
    margin-left: 600px;
    height: fit-content;
    width: 100px;
    background-color: #fff;

}

.btn-book{
    border-radius: 10px;
    padding: 10px 0;
    width: fit-content;
    height: 50px;
    margin-bottom: 10px;
}

.confirmed-booking {
    height: 200px;
    width: fit-content;
    text-align: center;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 28px;
}